
.wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.wrapper-small{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px );
  color: white;
}


.spec h2{
  display: inline;
  font-size: calc(16px)!important;
  padding-bottom: 10px;
  flex-direction: rows !important;
  padding-bottom: 10px;
}

.spec{
  padding-bottom: 10px;
}